{% extends "masterpage.html" %}
{% block title %} {{ title }} sentifeed.io main
{% endblock title %}
{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" href="../static/css/SentiFeed.css" type="text/css"/>

{% endblock head %}
{%  block container %}
    <div class="svg-wrapper">
            <div class="content-title">
                <span class="fa fa-cog fa-spin fa-1x"></span> work in progress
            </div>
            <svg height="100" width="500" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="100" width="500" />
          </svg>
            <div class="collapse" id="collapseExample">
                <br/>
                <div class="well" style="background-color: transparent">
                    This is a sentiment analysis project. More soon!
                </div>
        </div>
        </div>
    <div class="info">
            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <span id="info_icon" class="fa fa-info-circle fa-2x" style="color:#2c3e50;"></span>
            </a>
    </div>
{% endblock container %}